#chart(style="position: absolute; width: 100%; bottom: 0%; top: 0; right: 0px")


= javascript_include_tag "//code.highcharts.com/highcharts.js"
= javascript_include_tag "//code.highcharts.com/highcharts-more.js"

:javascript
  $('#chart').highcharts({
    chart: { type: 'areaspline' },
    title: {text: #{chart_title.to_json}},
    xAxis: {
      type: 'datetime',
    },
    //plotOptions: {areaspline: {stacking: 'normal'}},
    ayAxis: [{
      opposite: true, 
      title: {enabled: false}, 
      allowDecimals: false,
      }, {title: {enabled: false}}],
    series: [
      { 
        name: 'Total', data: #{series_data :total},
      },
      { 
        name: 'Period', data: #{series_data :period},
      },
    ],
    credits: {
      enabled: false
    },
  });